
h1{
    font: 42px sans-serif;
    text-align: center;
    text-decoration: underline;
    margin: 20px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.nav-link {
    color: #495057;
}

.nav-link:hover {
    color: #495057;
}

.nav {
    justify-content: space-between;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 50px;
}

.d-flex {
    display: flex!important;
    margin-left: 100px;
}

.btn-outline-success, .page-link{
    color: #495057;
    border-color: #495057;
}

.btn-outline-success:hover,
.page-link:hover {
    color: #fff;
    background-color: #d0d2d4;
    border-color: #495057;
}

.btn__wrapper{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.carousel-dark .carousel-caption {
    color: rgb(253, 252, 252);
}

.carousel-control-next {
    right: -15%;
}

.carousel-control-prev {
    left: -15%;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.card  {
    width: 32%;
}

.carg--width{
    width: 100%;
}

.btn-primary {
    color: #495057;
    border-color: #495057;
    background-color: #fff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #d0d2d4;
    border-color: #495057;
}

.accordion__wrapper,
.form__wrapper,
.card__wrapper,
.header__bottom,
.text,
.container--btn{
    margin-bottom: 50px;
}

.text .card {
    max-width: 100%;
}

.text p {
    display: flex;
    justify-content: space-around;
}

.pagination {
    justify-content: center;
}

.d-flex {
    margin-left: 0;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #ffffff;
}

.progress{
    margin: 5px 0;
}

.pagination{
    margin-top: 50px;
}